torch==2.0.1
torchvision==0.15.2
onnx==1.14.0
onnxruntime==1.15.1
pycocotools
PyYAML
scipy
transformers

# SAHI runtime dependencies
sahi
opencv-python>=4.12.0.88
shapely>=2.0.0
tqdm>=4.48.2
pillow>=8.2.0
numpy
fire
requests
click
scikit-image